# IDE
.idea/
.vscode/
.DS_Store

## C# build
**/bin/
**/obj/

# C# user settings
*.DotSettings.user

# Sveltekit
SENG302Template.App/.svelte-kit
node_modules/
SENG302Template.App/build

# Databases
*.db
*.db-shm
*.db-wal

# Ignore all package-lock.json files everywhere
**/package-lock.json

# Allow the specific one in the template directory
!/SENG302Template.App/package-lock.json